<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" role="navigation">
  <button type="button" class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">SUPERCHAT</a>
  <div class="navbar-collapse collapse" aria-expanded="false">
  </div>
</nav>

<nav id="sidebar-wrapper">
  <ul id="active" class="sidebar-nav">
    <li id="create-room">
      <div>+ Create Room</div>
    </li>
    {{#each rooms as |room|}}
      <li class="room" room-name="{{room.roomName}}">
        <div class="room-name" room-name="{{room.roomName}}">{{room.roomName}}</div>
        <div class="members" room-name="{{room.roomName}}">{{room.authorCount}} members</div>
      </li>
    {{/each}}
  </ul>
</nav>

<div id="page-content-wrapper">
  <div id="new-room" class="col">
    <form id="new-room-form">
      <input type="text" name="name" placeholder="Room name">
    </form>
  </div>

  <div id="current-room" class="col">
  </div>

  <div id="new-message">
    <form id="new-message-form">
      <input type="text" name="text" placeholder="Post message...">
    </form>
  </div>

</div>
